# macOS
.DS_Store

# JetBrains
.idea

# Gradle
.gradle
build

# ANTLR
src/main/java/pocket/antlr
src/main/gen

# Pocket output
out.js

# Node.js
src/main/nodejs/src/libs
src/main/nodejs/node_modules

# Kotlin
.kotlin